@font-face {
    font-family: "Play";
    src: url("../fonts/Play-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Play-Bold";
    src: url("../fonts/Play-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Monument Extended";
    src: url("../fonts/MonumentExtended-Regular.otf");
    font-weight: 400;
}

@font-face {
    font-family: "Monument Extended-Bold";
    src: url("../fonts/MonumentExtended-Ultrabold.otf");
    font-weight: 800;
    }

@font-face {
    font-family: "Russo One";
    src: url("../fonts/RussoOne-Regular.ttf");
    font-weight: 400;
}

:root {
    --font-play: "Play";
    --font-play-bold: "Play-Bold";
    --font-monument: "Monument Extended";
    --font-monument-bold: "Monument Extended-Bold";
    --font-russo: "Russo One";
    --color-background-page: #101834;
    --color-background-container: #040D23;
    --linear-gradient-main: linear-gradient(90deg, #92FE9D 0%, #00C9FF 100%);
    --linear-gradient-blur: linear-gradient(180deg, rgba(4,13,35,0) 0%,rgba(4,13,35,1) 55%, rgba(4,13,35,1) 100%);
    --skew-block: skew(-13deg);
    --skew-block-back: skew(13deg);
    --skew-cards-block: skew(-13deg);
    --skew-cards-block-back: skew(13deg);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
a,
a:hover,
a:active,
a:visited {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
html,
body {
    width: 100%;
    overflow-x: hidden;
}
html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    font-family: var(--first-font);
    background-color: #030D23;
    color: #fff;
}
canvas{
    display: block;
    vertical-align: bottom;
}
body.noscroll {
	overflow: hidden;
}

/* ---- particles.js container ---- */
#particles-js{
    width: 100%;
    height: 1150px;
    background-color: var(--color-background-page);
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1;
}

.wrapper {
    width: 100%;
    /* background-color: var(--color-background-page); */
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;
}

.header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin: 0 110px;
}

.burger-menu {
    display: none;
    justify-content: space-between;
    flex-direction: column;
    width: 25px;
    height: 16px;
    cursor: pointer;
    transition: 260ms ease-in;
}

.burger-menu .bar {
    width: 25px;
    height: 2px;
    background-color: #FFFFFF;
    transition: 150ms ease-in;
}
.burger-menu.active .bar:nth-child(2) {
    transition: 260ms ease-in;
}
.burger-menu.active .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}
.burger-menu.active .bar:nth-child(2) {
    height: 0px;
}
.burger-menu.active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-42deg);
}

.logo {
    font-family: var(--font-monument);
    font-size: 20px;
    cursor: pointer;
    color: #FFFFFF;
    white-space: nowrap;
    display: flex;
    align-items: flex-end;
    height: 32px;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 520px;
    gap: 15px;
}
.nav__list {
    font-family: var(--font-play-bold);
    font-size: 24px;
    color: #FFFFFF;
    cursor: pointer;
    transition: 200ms ease-in;
}
.nav__list:hover {
    transform: scale(1.2);
    text-shadow: #fff 2px 0 20px;
}

.header.user .auth {
    display: none;
}
.header.user .profile {
    display: flex;
}
.auth {
    font-family: var(--font-play-bold);
    display: flex;
    gap: 20px;
}
.auth__sign-in {
    cursor: pointer;
    font-size: 24px;
}
.auth__sign-up {
    cursor: pointer;
    font-size: 24px;
    background: var(--linear-gradient-main);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.profile {
    display: none;
    align-items: center;
    gap: 28px
}
.profile__balance {
    font-family: var(--font-play-bold);
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 13px;
    background: var(--linear-gradient-main);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: default;
}
.profile__balance img {
    cursor: pointer;
}
.profile__nickname {
    font-family: var(--font-monument);
    font-size: 20px;
    cursor: default;
    height: 32px;
    display: flex;
    align-items: flex-end;
}

.main {
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__main {
    font-family: var(--font-monument);
    font-size: 40px;
    color: #FFFFFF;
    white-space: nowrap;
    margin-top: 100px;
}
.main__description {
    font-family: var(--font-play);
    font-size: 24px;
    width: 621px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 10px;
}
.popular {
    background-image: url(../images/popular-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 100%;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    padding-top: 20px;
}

.popular__header-border {
    padding: 3px;
    background-image: var(--linear-gradient-main);    
    transform: var(--skew-block);
    position: absolute;
    top: 44px;
}
.popular__header-border::before {
    content: "";
    position: absolute;
    top: 0;
    left: -0.5px;
    width: calc(100% + 1px);
    height: 101%;
    background-image: var(--linear-gradient-blur);
}
.popular__header {
    font-family: var(--font-play-bold);
    font-size: 24px;
    color: #FFFFFF;
    font-style: normal;
    display: flex;
    background-color: var(--color-background-container);
    padding: 12px 40px;
}
.non-skew {
    transform: var(--skew-block-back);
}

.account-card {
    min-width: 180px;
    min-height: 230px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    padding-top: 68px;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    cursor: pointer;
    transition: 170ms ease-in;

}
.account-card:hover {
    transform: scale(1.06);
}
.account-card.non-skew:hover {
    transform: scale(1.06)  var(--skew-block-back);
}
.account-card.small-gap {
    gap: 1px;
}
.account-card.test-bg {
    background-image: url(../images/greencard.svg);
    filter: drop-shadow(0px 0px 6px #01C9FF);
}
.account-card.green-bg {
    background-image: url(../images/greencard.png);
}
.account-card.orange-bg {
    background-image: url(../images/orangecard.png);
}
.account-card.purple-bg {
    background-image: url(../images/purplecard.png);
}
.account-card.pink-bg {
    background-image: url(../images/pinkcard.png);
}
.account-card.sky-bg {
    background-image: url(../images/skycard.png);
}
.account-card.red-bg {
    background-image: url(../images/redcard.png);
}
.account-card.salat-bg {
    background-image: url(../images/salatcard.png);
}
.account-card.blue-bg {
    background-image: url(../images/redcard.png);
}
.account-card.none-bg {
    background-image: url(../images/nonecard.png);
}
.account-card.none-bg .account-card__img {
    opacity: 0.2;
}
.account-card__icon {
    position: absolute;
    top: -4px;
    right: -4px;
}
.account-card__description {
    font-family: var(--font-play-bold);
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    width: 144px;
    height: 38px;
}
.account-card__count,
.account-card__price {
    font-family: var(--font-russo);
    font-family: 18px;
    color: #FFFFFF;
    position: absolute;
}
.account-card__count {
    top: 17px;
    left: 28px;
    width: 70px;
    text-align: right;
}
.account-card__price {
    bottom: 17px;
    left: 90px;
    width: 60px;
    text-align: center;
}
.cards-wrapper {
    max-width: 1736px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: -35px 0 40px 0;
    z-index: 1;
}
.cards-filter {
    height: 61px;
    width: 617px;
    background-image: url(../images/filtercard.png);
    display: flex;
    padding-left: 22px;
}
.cards-section-bg {
    padding: 3px;
    background-image: var(--linear-gradient-main);
    transform: var(--skew-block);
    position: relative;
    width: 94%;
}
.cards-section-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: -0.5px;
    width: calc(100% + 1px);
    height: 101%;
    background-image: var(--linear-gradient-blur);
}
.cards-section {
    padding: 0 50px;
    height: 275px;
    background-color: var(--color-background-container);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: scroll;
    gap: 12px;
}
.card-filter__list {
    font-family: var(--font-play-bold);
    font-size: 18px;
    width: 145px;
    text-align: center;
    color: #818591;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 260ms ease-in;
}
.card-filter__list:hover {
    color: rgba(255, 255, 255, 0.95);
}
.card-filter__list.active {
    color: #FFFFFF;
}
.card-filter__list.active {
    color: #FFFFFF;
}
.footer {
    height: 128px;
    background-image: var(--linear-gradient-main); 
    padding-top: 4px;   
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    /* margin-top: 40px; */

}
.footer__border-gradient {
    background-color: #040C20;
    height: 128px;
    padding: 35px 66px 0 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}
.footer-nav {
    color: #FFFFFF;
    font-family: var(--font-play);
    font-size: 18px;
    max-width: 1146px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
.footer-logo {
    transition: 200ms ease-in;
}
.footer-logo:hover {
    transform: scale(1.1);
} 
.footer-nav__list {
    color: #FFFFFF;
    white-space: nowrap;
    transition: 200ms ease-in;
}
.footer-nav__list:hover {
    transform: scale(1.1);
    text-shadow: #fff 2px 0 20px;
}
.links-media {
    display: flex;
    gap: 15px;
    height: 40px;
    align-items: center
}
.links-media img {
    height: 24px;
    cursor: pointer;
}


/*instructions.html*/

.instructions {
    width: 1540px;
    height: 665px;
    gap: 5px;
    display: flex;
    justify-content: space-between;
    margin: 100px 0 200px 0;
}
.instructions__block:hover {
    transform: scale(1.05);
}
.instructions__block:hover .instructions__button{
    transform: scale(1.3);
}
.instructions__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 501px;
    min-height: 665px;
    padding: 68px 0 34px 0;
    transition: 200ms ease-in;
}
.instructions__block.animone {
    animation: instructionAnimate 500ms ease-in;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 200ms;
}
.instructions__block.animtwo {
    animation: instructionAnimate 500ms ease-in;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 500ms;
}
.instructions__block.animthree {
    animation: instructionAnimate 500ms ease-in;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 800ms;
}
.instructions__block.purple-bg {
    background-image: url(../images/purpleInstruction.svg);
}
.instructions__block.green-bg {
    background-image: url(../images/greenInstruction.svg);
}
.instructions__block.red-bg {
    background-image: url(../images/redInstruction.svg);
}

.instructions__header {
    font-family: var(--font-play-bold);
    font-size: 25px;
    color: #FFFFFF;
    text-align: center;
    width: 400px;
    height: 30px;
    cursor: default;
}
.instructions__images {
    display: flex;
    align-items: center;
    gap: 15px;
}
.instructions__images.gapnone {
    gap: 0px;
}
.instructions__images .marginSecure {
    margin-top: 30px;
}
.instructions__images .marginBuy {
    margin-bottom: 30px;
}
.instructions__button {
    background-image: url(../images/readInstruction.svg);
    background-repeat: no-repeat;
    background-position: center;
    font-family: var(--font-play-bold);
    font-size: 25px;
    color: #FFFFFF;
    padding: 10px 50px;
    cursor: pointer;
    transition: 200ms ease-in;
}
.instructions__button:hover {

}

@keyframes instructionAnimate {
    from {
      transform: translateX(50px);
      opacity: 0;
    }
  
    to {
      transform: translateX(0);
      opacity: 1;
    }
}

/*store.html*/

.store-form {
    max-width: 1130px;
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 70px 0 100px 0;
}
.store-form__description-inner {
    min-width: 280px;
    height: 250px;
    background-image: url(../images/accountDesc-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: 90px 0 0 70px;
}
.store-form__header {
    font-family: var(--font-play-bold);
    font-size: 25px;
    color: #FFFFFF;
    position: absolute;
    top: 12px;
    left: 0;
    text-align: center;
    width: 100%;
    padding: 0 55px;    
    cursor: default;
}
.store-form__description-inner .store-form__header {
    text-align: left;
}
.store-form__percent-inner .store-form__header {
    text-align: right;
}
.store-form__description {
    width: 200px;    
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.store-form__description-list {
    font-family: var(--font-play-bold);
    font-size: 20px;
    list-style: disc;
    cursor: default;
}

.store-form__main {
    min-width: 548px;
    height: 470px;
    background-image: url(../images/accountBuy-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 76px 0 0 0;
}

.store-form__main-field {
    width: 358px;
    height: 100px;
    background-image: url(../images/store-field.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 18px 0 0 0;
    gap: 7px;
}
.main-field__row {
    font-family: var(--font-play-bold);
    font-size: 20px;
    color: #FFFFFF;
    width: 100%;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.main-field__row .value {
    background: var(--linear, linear-gradient(90deg, #92FE9D 0%, #00C9FF 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    margin-left: 10px;
}

.store-form__main-inputs {
    width: 358px;
    height: 100px;
    background-image: url(../images/store-field.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
    margin: 16px 0 0 0;
    padding: 2px 20px 0 20px;
    gap: 7px;
}

.main-inputs__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buy-input {
    width: 154px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../images/input-smal.png);
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 22px;
    margin-top: -5px;
    color: #FFFFFF;
    font-size: 16px;
    font-family: var(--font-play);
    text-transform: uppercase;
    text-align: center;
}

.buy-input:focus::placeholder {
    opacity: 0;
    color: #AEAEAE;
}

.buy-input .minus {
    width: 16px;
    height: 18px;
    background-image: url(../images/input-minus.svg);
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(1.1);
    cursor: pointer;
}
.buy-input .plus {
    width: 16px;
    height: 18px;
    background-image: url(../images/input-plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(1.1);
    cursor: pointer;
    margin-top: -5px;
}

.buy-input .total {
    color: #FFFFFF;
    font-family: var(--font-play);
    font-size: 20px;
    cursor: default;
}
.buy-input-label {
    font-family: var(--font-play-bold);
    font-size: 20px;
    color: #FFFFFF;
}
.store-form__main-accept {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 0 0 0;
    gap: 4px;
}

.main-accept__price {
    font-family: var(--font-play);
    font-size: 25px;
    color: #AEAEAE; 
    cursor: default;
}
.main-accept__button {
    width: 160px;
    height: 60px;
    font-family: var(--font-play-bold);
    font-size: 20px;
    color: #FFFFFF;
    background-image: url(../images/button-smal.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 17px 0 0 0;
    cursor: pointer;
}
.main-accept__percents {
    color: #FF7A00;
    font-family: var(--font-play);
    font-size: 16px;
    cursor: default;
}


.store-form__percent-inner {
    min-width: 280px;
    height: 282px;
    background-image: url(../images/accountPercents.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.store-form__percent {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 26px;
}
.store-form__percent-list {
    font-family: var(--font-play-bold);
    color: #FFFFFF;
    font-size: 20px;
    width: 205px;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.percent-low {
    color: #FFCA99; 
}
.percent-medium {
    color: #FF9E44; 
}
.percent-heigh {
    color: #FF7A00; 
}
.store-section-bg {
    background-image: url(../images/store-section.svg);
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    padding-top: 80px;
}
.store-section {
    width: 100%;
    height: 100%;
    background-color: #02050B;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    position: relative;
}
.store-section__shadow-radian {
    position: absolute;
    width: 1047px;
    height: 1047px;
    background-image: url(../images/radial.png);
    background-repeat: no-repeat;
    background-position: center;

}
.store-section__shadow-radian.left {
    top: 300px;
    left: -650px;
}
.store-section__shadow-radian.right {
    top: -40px;
    right: -700px;
}
.store-section__header {
    font-family: var(--font-play-bold);
    font-size: 40px;
    color: #FFFFFF;
    margin: 18px 0 0 0;
    text-align: center;
}
.store-section__block {
    width: 800px;
    height: 260px;
    background-image: url(../images/storeInfoSection.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 45px 50px 0 56px;
    font-family: var(--font-play);
    font-size: 20px;
    color: #FFFFFF;
}

.store-section .gradient {
    background: var(--linear-gradient-main);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.store-section__flex {
    display: flex;
    align-items: center;
    gap: 36px;
}

.store-section__square {
    width: 500px;
    height: 355px;
    background-image: url(../images/storeInfoSquar.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px 0 0 56px;
    font-family: var(--font-play);
    font-size: 20px;
    color: #FFFFFF;
}
.store-section__square .store-section__list {
    list-style: decimal inside;
}
.store-section__list span {
    margin-right: 3px;
}

.store-section__example {
    width: 292px;
    height: 195px; 
    background-image: url(../images/dataExample.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-family: var(--font-play);
    font-size: 20px;
    text-decoration: underline;
    text-underline-offset: 6px;
}

.store-section__warning {
    font-family: var(--font-play-bold);
    font-size: 30px;
    text-align: center;
    max-width: 1450px;
    width: 100%;
    padding: 0 30px;
    margin-top: 20px;
}
.store-section__info {
    font-family: var(--font-play);
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    max-width: 1450px;
    width: 100%;
    padding: 0 30px;
    margin:40px 0 90px 0;
}

.store-section__block-svg {
    position: relative;
    max-width: 1490px;
    width: 100%;
    padding: 75px 100px 40px 100px;
}
.block-svg__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 1490px;
    height: 100%;
}
.text {
    z-index: 1;
    position: relative;
    font-family: var(--font-play);
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    line-height: 26px;
}

.store-section .store-form__header {
    top: 19px;
}
.upper-sky {
    text-transform: uppercase;
    color: #03CAFD;
}
.pulse-animation {
    position: relative;
}
/*animate pulse*/
.pulse-animation:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg,#00C9FF 0%,rgba(0,0,0,0) 5%,rgba(0,0,0,0) 15%,rgba(0,0,0,0) 100%);
    background-size: 600px;
    background-position: 600px 0;
    background-repeat: no-repeat;
    opacity: 1;
    transition: 0.5s;            
    border-radius: 5px;
}
.pulse-animation:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg,#00C9FF 0%,rgba(0,0,0,0) 5%,rgba(0,0,0,0) 15%,rgba(0,0,0,0) 100%);
    background-size: 600px;
    background-position: 600px 0;
    background-repeat: no-repeat;
    filter: blur(10px);
    opacity: 1;
    transition: 0.5s;
}
.pulse-animation:hover::after,
.pulse-animation:hover::before {
    animation: animate 2s linear;
}
.animate:after, .animate::before {
    animation: animate 2s linear;
}
@keyframes animate
{
    0%
    {
        background-position: -20px 0;
    }
    100%
    {
        background-position: 600px 0;
    }
}
/*media*/
@media screen and (max-width: 1550px) {
    .instructions {
        transform: scale(0.8);        
        margin: 0px 0 80px 0;
    }
    
}
@media screen and (max-width: 1250px) {
    .header {        
        margin: 0 60px;
    }
    .instructions {
        transform: scale(0.65);        
        margin: -40px 0 0px 0;
    }
    .footer__border-gradient {
        padding: 35px 50px 0 50px;
    }
}
@media screen and (max-width: 980px) {
    .header {        
        margin: 0 20px;
    }
    .store-section__block-svg {
        padding: 75px 50px 40px 10px;
    }
}

@media screen and (max-width: 880px) {
    .navigation, .logo {
        display: none;
    }
    .burger-menu {
        display: flex;
    }
    .footer {
        height: 650px;
    }
    .footer__border-gradient {
        flex-direction: column;
        align-items: center;
        padding: 35px 5px 35px 5px;
        height: 650px;
        gap: 70px;
    }
    .footer-nav {
        flex-direction: column;
        gap: 50px;
    }
}