@font-face {
    font-family: "Play";
    src: url("../fonts/Play-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Play-Bold";
    src: url("../fonts/Play-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Monument Extended";
    src: url("../fonts/MonumentExtended-Regular.otf");
    font-weight: 400;
}

@font-face {
    font-family: "Monument Extended-Bold";
    src: url("../fonts/MonumentExtended-Ultrabold.otf");
    font-weight: 800;
    }

@font-face {
    font-family: "Russo One";
    src: url("../fonts/RussoOne-Regular.ttf");
    font-weight: 400;
}

:root {
    --font-play: "Play";
    --font-play-bold: "Play-Bold";
    --font-monument: "Monument Extended";
    --font-monument-bold: "Monument Extended-Bold";
    --font-russo: "Russo One";
    --color-background: #101939;
    --linear-gradient-main: linear-gradient(90deg, #92FE9D 0%, #00C9FF 100%);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
a,
a:hover,
a:active,
a:visited {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
html,
body {
    width: 100%;
    height: 1200px;
    overflow-x: hidden;
}
html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    font-family: var(--first-font);
    background-color: #030D23;
    color: #fff;
}
canvas{
    display: block;
    vertical-align: bottom;
}
body.noscroll {
	overflow: hidden;
}

/* ---- particles.js container ---- */
#particles-js{
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
  }

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: var(--color-background); */
}

.header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 110px;
}
.logo {
    font-family: var(--font-monument);
    font-size: 20px;
    cursor: pointer;
    color: #FFFFFF;
    white-space: nowrap;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 520px;

}
.nav__list {
    font-family: var(--font-play-bold);
    font-size: 24px;
    color: #FFFFFF;
    cursor: pointer;
}
.auth {
    font-family: var(--font-play-bold);
    display: flex;
    gap: 20px;
}
.auth__sign-in {
    cursor: pointer;
    font-size: 24px;
}
.auth__sign-up {
    cursor: pointer;
    font-size: 24px;
    background: var(--linear-gradient-main);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.profile {
    display: none;
    align-items: center;
    gap: 28px
}
.profile__balance {
    font-family: var(--font-play-bold);
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 13px;
    background: var(--linear-gradient-main);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: default;
}
.profile__balance img {
    cursor: pointer;
}
.profile__nickname {
    font-family: var(--font-monument);
    font-size: 20px;
    cursor: default;
}

.main {
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__main {
    font-family: var(--font-monument);
    font-size: 40px;
    color: #FFFFFF;
    white-space: nowrap;
    margin-top: 100px;
}
.main__description {
    font-family: var(--font-play);
    font-size: 24px;
    width: 621px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 10px;
}
.popular {
    background-image: url(../images/popular-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding-top: 45px;
}
.popular_header {
    font-family: var(--font-play-bold);
    font-size: 24px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/popular-block.svg);
    width: 247px;
    height: 57px;
    position: absolute;
    top: 44px;
}

.account-card {
    width: 185px;
    height: 240px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}
.account-card.small-gap {
    gap: 1px;
}
.account-card.green-bg {
    background-image: url(../images/greencard.png);
}
.account-card.orange-bg {
    background-image: url(../images/orangecard.png);
}
.account-card.purple-bg {
    background-image: url(../images/purplecard.png);
}
.account-card.pink-bg {
    background-image: url(../images/pinkcard.png);
}
.account-card.sky-bg {
    background-image: url(../images/skycard.png);
}
.account-card.red-bg {
    background-image: url(../images/redcard.png);
}
.account-card.salat-bg {
    background-image: url(../images/salatcard.png);
}
.account-card.blue-bg {
    background-image: url(../images/redcard.png);
}
.account-card__icon {
    position: absolute;
    top: -4px;
    right: -4px;
}
.account-card__description {
    font-family: var(--font-play-bold);
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    width: 144px;
    height: 38px;
}
.account-card__count,
.account-card__price {
    font-family: var(--font-russo);
    font-family: 18px;
    color: #FFFFFF;
    position: absolute;
}
.account-card__count {
    top: 21px;
    left: 28px;
    width: 70px;
    text-align: right;
}
.account-card__price {
    bottom: 22px;
    left: 100px;
}
.cards-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.cards-filter {
    height: 61px;
    width: 617px;
    background-image: url(../images/card-nav.svg);
    display: flex;
    padding-left: 22px;
}
.cards-section {
    width: 1736px;
    height: 275px;
    background-image: url(../images/card-section.svg);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.card-filter__list {
    font-family: var(--font-play-bold);
    font-size: 18px;
    width: 145px;
    text-align: center;
    color: #818591;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.card-filter__list.active {
    color: #FFFFFF;
}
.footer {
    height: 178px;
    background-image: var(--linear-gradient-main); 
    padding-top: 4px;   
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    margin-top: 40px;

}
.footer__border-gradient {
    background-color: #040C20;
    height: 178px;
    padding: 35px 66px 0 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-nav {
    color: #FFFFFF;
    font-family: var(--font-play);
    font-size: 18px;
    max-width: 1146px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-nav__list {
    color: #FFFFFF;
}
.links-media {
    display: flex;
    gap: 15px;
    height: 40px;
    align-items: center
}
.links-media img {
    height: 24px;
}







